@import "styles/buttons";
@import "styles/variables";
@import "styles/helpers";

.container {
  position: relative;
  background-color: $white_200;
  @include flexSpaceBetween();
  padding: 0 $xl3 $mdLarger2 $xl3;
  .addPackageBtn {
    @include black-button();
    height: 54px;
    padding: $customMd $mdLarger2;
    white-space: nowrap;
    svg {
      margin-left: $sm;
    }
  }
}
// modal
.editModal {
  max-width: 350px;
}
.progressBar {
  position: relative;
  display: flex;
  margin: 44px $xl3 0;
  background: $gray_500;
  border-radius: 4px;
  width: 100%;
  height: 6px;
  span {
    position: absolute;
    background: $red_light;
    border-radius: 4px;
    height: 100%;
  }
}